# Conversational Bot with Semantic Parsing

#### **Note**: We've included model fine-tuning, testing, and validation within this notebook. Separate data cleaning was performed, and an enhanced database was created using a custom script available in the shared folder.

### A chatbot was developed in the Google Colab interface. For enhanced usability, we've also designed a web chat. You can find the corresponding code in a different folder.

* Mounting the data from the google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

* Installing packages

In [ ]:
!pip install langchain==0.0.134 pandas==1.5.3 python-dotenv==1.0.0 openai streamlit

* Importing packages

In [3]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI
import os
import streamlit as st

* Loading the training, testing, validation dataset

In [4]:
# Data Paths
training_dataset_path = '/content/drive/MyDrive/challenge/Marketing List Chatbot/Questions/Training.xlsx'
testing_dataset_path = '/content/drive/MyDrive/challenge/Marketing List Chatbot/Questions/Test.xlsx'
validation_dataset_path = '/content/drive/MyDrive/challenge/Marketing List Chatbot/Questions/Validation.xlsx'

In [5]:
import pandas as pd

In [6]:
# Loding the data using pandas
train = pd.read_excel(training_dataset_path)
test = pd.read_excel(testing_dataset_path)
val = pd.read_excel(validation_dataset_path)

In [7]:
test.head(5)

,Record ID,Question,Query,Value
0,4,Provide the contact details of all customers w...,"SELECT\n c.first_name,\n c.last_name,\n c.e...",NaN
1,9,Give me the contact information of customers w...,"SELECT\n c.first_name,\n c.last_name,\n c.e...",NaN
2,14,List customers who have enrolled in a certific...,"SELECT\n c.customer_id,\n c.first_name,\n c...",NaN
3,19,Show me customers who have changed their marit...,SELECT\n *\nFROM\n customers\nWHERE\n marit...,NaN
4,24,Show me customers with a savings account who h...,"SELECT\n c.customer_id,\n c.first_name,\n c...",NaN

In [8]:
def drop_empty_columns(df):
    empty_columns = df.columns[df.isna().all()]
    df.drop(columns=empty_columns, inplace=True)
    return df

In [9]:
train_data = drop_empty_columns(train)
test_data = drop_empty_columns(test)
val_data = drop_empty_columns(val)

In [10]:
train_data.head(5)

,Record ID,Question,Query
0,1,Give me a list of married customers with at le...,"SELECT\n c.customer_id,\n c.first_name,\n c..."
1,2,Identify customers aged 20-25 who graduated in...,"SELECT\n c.customer_id,\n c.first_name,\n c..."
2,3,List customers with a high credit score (above...,"SELECT\n c.customer_id,\n c.first_name,\n c..."
3,6,Show me customers who used our mobile app more...,"SELECT\n c.customer_id,\n c.first_name,\n c..."
4,7,List customers who frequently engage with our ...,"SELECT\n c.customer_id,\n c.first_name,\n c..."

* Open AI code

In [11]:
os.environ['OPENAI_API_KEY'] = "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"

#### Loading the database and the complete code of preprocessing available in utils folder

In [30]:
# database URI points to our enhanced_database.db
db_uri = "sqlite:////content/drive/MyDrive/challenge/Marketing List Chatbot/Solution/enhanced_database.db"
db = SQLDatabase.from_uri(db_uri)

#### Model Fine tuning

In [52]:
from langchain.llms import OpenAI
import openai
openai.api_key = os.getenv("OPENAI_API_KEY")

response = openai.Completion.create(
  model="davinci:ft-personal:alpha-jarvis-2023-08-22-19-26-10",
  prompt="",
  temperature=0,
  max_tokens=256,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0,
  stop=["END"]
)

In [36]:
from langchain.chains import SQLDatabaseSequentialChain

# Define your LLM instance
llm = OpenAI(temperature=0)

# Created an instance of SQLDatabaseSequentialChain
sqlchain = SQLDatabaseSequentialChain.from_llm(
    llm, db, verbose=True, return_intermediate_steps=True
)

# Example Query to execute
query = "Identify customers aged 20-25 who graduated in last 3 months and applied for a credit card."

results = sqlchain(query)

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['customers', 'life_events', 'transactions', 'products']

> Entering new SQLDatabaseChain chain...
Identify customers aged 20-25 who graduated in last 3 months and applied for a credit card.
SQLQuery: SELECT first_name, last_name, age, life_event_date FROM customers JOIN life_events ON customers.customer_id = life_events.cust_id JOIN products ON customers.customer_id = products.cust_id WHERE age BETWEEN 20 AND 25 AND life_event_type = 'graduation' AND product = 'Credit Card' AND life_event_date > date('now', '-3 months') ORDER BY life_event_date DESC LIMIT 5;
SQLResult: []
Answer: No customers aged 20-25 who graduated in the last 3 months and applied for a credit card were found.
> Finished chain.

> Finished chain.

In [27]:
if "intermediate_steps" in results:
    intermediate_steps = results["intermediate_steps"]
    sql_query = intermediate_steps[0]  # The first step is the SQL query
    print("Extracted SQL Query:", sql_query)
else:
    print("No intermediate steps found in results.")

Extracted SQL Query:  SELECT first_name, last_name, marital_status, number_of_dependants FROM customers WHERE marital_status = 'married' AND number_of_dependants >= 2 AND state = 'Arizona' LIMIT 5;

In [23]:
print(results['result'])

 Garret Satteford, Curry Ferencowicz, Fritz Grishukhin, Dael Jepson, and Seamus Narey are married customers with at least two dependents in Arizona state.

In [28]:
import io
import sys
import re
import pandas as pd
from langchain.agents import load_tools, initialize_agent, AgentType
from langchain.llms import OpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.chains import SQLDatabaseSequentialChain

##### Extracting the results and query

In [40]:
from sqlalchemy.exc import OperationalError

def extract_intermediate_steps(query):
    try:
        results = sqlchain(query)

        if "intermediate_steps" in results:
            intermediate_steps = results["intermediate_steps"]
            sql_query = intermediate_steps[0]
            final_response = results["result"]

            return sql_query, final_response
        else:
            return None, None
    except OperationalError as e:
        print("Error occurred:", e)
        return None, None

##### Processing and saving the training, testing, validation into csv files

In [43]:
def process_queries_and_save_to_csv(data, output_filename):
    extracted_data = []

    for index, row in data.iterrows():
        question = row['Question']
        sql_query, final_response = extract_intermediate_steps(question)

        if sql_query is not None and final_response is not None:
            extracted_data.append({
                'Record ID': row['Record ID'],
                'Question Query': question,
                'Generated SQL Query': sql_query,
                'Final Response': final_response
            })

    extracted_df = pd.DataFrame(extracted_data)
    extracted_df.to_csv(output_filename, index=False)

In [ ]:
process_queries_and_save_to_csv(train_data, 'train_results.csv')

In [ ]:
process_queries_and_save_to_csv(test_data, 'test_results.csv')

In [ ]:
process_queries_and_save_to_csv(val_data, 'validation_results.csv')

#### Chat Bot

In [48]:
def generate_gpt3_response(user_input):
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=user_input,
        max_tokens=25
    )
    return response.choices[0].text.strip()

In [50]:
from contextlib import contextmanager
import openai

@contextmanager
def suppress_stdout():
    original_stdout = sys.stdout
    sys.stdout = open(os.devnull, 'w')
    yield
    sys.stdout = original_stdout

def main():
    while True:
        print("Chat with the ChatBot: FinPlan! Type 'query' for a DB search!! Type 'exit' to end.")
        user_input = input("You: ")

        if user_input == "exit":
            break

        if user_input == "query":
            sql_query = input("Enter your SQL query: ")
            # Execute SQL query using agent_executor.run(sql_query)
            with suppress_stdout():
                response = agent_executor.run(sql_query)
        else:
            gpt3_response = generate_gpt3_response(user_input)
            response = gpt3_response
        print("FinPlan:", response)

if __name__ == "__main__":
    main()

Chat with the ChatBot: FinPlan! Type 'query' for a DB search!! Type 'exit' to end.
You: ey FinPlan!! how are you ?
FinPlan: I'm doing very well, thank you! How are you?
Chat with the ChatBot: FinPlan! Type 'query' for a DB search!! Type 'exit' to end.
You: query
Enter your SQL query: Identify customers aged 20-25 who graduated in last 3 months and applied for a credit card.
FinPlan: A list of 10 customers aged 20-25 who graduated in last 3 months and applied for a credit card.
Chat with the ChatBot: FinPlan! Type 'query' for a DB search!! Type 'exit' to end.
You: exit